.wrapper {
    width: 350px;
    background-color: lightgray;
    font-size: 28px;
    padding: 5px;
    border-radius: 5px;
}
blockquote {
    font-style: italic;
    margin-bottom: 0;
}
cite {
    color: green;
    font-style: normal;
    font-size: 22px;
    padding: 5px;
    margin-left: 40px;
}